h2 {
	margin-top: 3em;
	margin-bottom: 0em;
	}
.head h2, #abstract h2, #sotd h2 {
	margin-top: 0;
	}
h3 {
	margin-top: 3em;
	}
h4  { 
	font-size: 100%; 
    font-weight: normal; 
    color: #005a9c; 
    margin-top: 2em;  
    }
h5 {
  font-style: inherit !important;
}
.leadin {
	font-weight: bold;
	}

ins { 
	background-color: #99FF99; 
	text-decoration: none; 
	}
del { 
	display: inline; 
	color: silver; 
	}

figure { 
	margin-bottom: 2em; 
	text-align: center;
	vertical-align: top;
	}
figure img {
	vertical-align: middle;
  }
figcaption {
	text-align: center;
	margin: 0.5em 2em;
	font-style: italic;
	font-size: 90%;
	}
.figno:after {
	content: ':\00A0  ';
}

a.termref:link {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:hover {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:visited {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:active {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}

.qterm:before, .qchar:before { content: "'"; }
.qterm:after, .qchar:after { content: "'"; }
.quote:before { content: '"'; }
.quote:after { content: '"'; }
code { 
	color: #A52A2A; 
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
    font-size: 100%; 
    }
samp, kbd { 
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
    font-size: 100%; 
    }
.uname {
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing:0.03em;
	}


#langSwitch {
	position: fixed;
    /*
	top: 40px;
    right: 20px;
    width: 202px;
    text-align: right;
	*/
	top: -14px;
	z-index: 10000;
	}
#langSwitch button {
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #CCC;
	border-radius: 5px;
	}

.punctuation {
	border-collapse: collapse;
	}
.punctuation td, .punctuation th {
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 5px;
	}
.punctuation th.topth:lang(en) {
	font-size: 80%;
	padding: 5px;
	vertical-align: bottom;
	text-align: start;
	}

.translateme {
	background-color: #F3F3C3;
	background-clip: content-box;
}
.checkme {
	background-color: #BBEFFC;
	background-clip: content-box;
}

.is-multilingual [data-lang^="zh"] {
  padding-left: .4em;
  border-left: 3px solid;
}
.is-multilingual [data-lang="zh-hant"] {
  border-color: rgba(64,196,64,.5);
}
.is-multilingual [data-lang="zh-hans"] {
  border-color: rgba(248,138,5,.5);
}

.is-multilingual h2[data-lang^="zh"],
.is-multilingual h3[data-lang^="zh"],
.is-multilingual h4[data-lang^="zh"],
.is-multilingual h5[data-lang^="zh"],
.is-multilingual h6[data-lang^="zh"],
.is-multilingual p[data-lang^="zh"],
.is-multilingual ol[data-lang^="zh"],
.is-multilingual ul[data-lang^="zh"] {
  margin-left: calc(-.4em - 2px);
}
.is-multilingual .secno ~ span[data-lang^="zh"] {
	display: inline-block;
	margin-left: .3em;
	padding-left: .3em;
}

.note h6 {
	margin-top: 1em;
	margin-bottom: 0;
	font-weight: bold;
}

h2 + table,
table + table {
	margin-top: 1rem;
}

table thead span[data-lang] {
	display: block;
	margin-top: .1em;
	text-align: start;
}
table thead span[data-lang='en']:first-child {
	margin-top: 0;
}

.is-multilingual table thead span[data-lang='en'] {
	padding-left: calc(.4em + 3px);
}

/**
 * Table of glossary
 */
table.glossary { border-collapse: collapse; }
table.glossary tr { border-bottom: 1px solid #ddd; }
table.glossary th.term { width: 6.25em; }
table.glossary th.term-pinyin { width: 5.25em; }
table.glossary th.term-en { width: 5.25em; }

table.glossary th { padding: .25em 0 .5em .25em; }

table.glossary tbody td:not(:last-child) {
	padding: .75em .25em .75em 0;
	vertical-align: top;
}

table.glossary tbody td p {
	margin-top: .5em;
	margin-bottom: .5em;
}

.is-multilingual table.glossary ol,
.is-multilingual table.glossary ul { padding-left: 2em; }

.is-multilingual table.glossary tbody td:last-child { padding-left: calc(.4em + 3px + .25em); }
.is-multilingual table.glossary ol[data-lang="en"] { margin-left: -.4em; }
.isnt-multilingual table.glossary th { padding-left: 0; }
