@charset "UTF-8";

body {
  padding: 2em 1em 2em 70px;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: white url(//www.w3.org/StyleSheets/TR/logo-ED) top left fixed no-repeat;
}

body:lang(zh) {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

[hidden] { display: none; }

:link { color: #00C; background: transparent; }
:visited { color: #609; background: transparent; }
a[href]:hover { background: #ffa; }
a:active { color: #C00; background: transparent; }

a:link img,
a:visited img { border-style: none; }

h1, h2, h3, h4, h5, h6 { text-align: left; }
/* background should be transparent, but WebTV has a bug */
h1, h2, h3, h4 { color: #005A9C; background: white; }
h1 { font: 170% sans-serif; }
h2 { font: 140% sans-serif; }
h3 { font: 120% sans-serif; }
h4 { font: 110% sans-serif; }
h5 { font: bold 100% sans-serif; }
h6 { font: bold 100% sans-serif; }

.leadin { font-weight: bold; color: brown; }

pre { margin-left: 2em; }
dt { font-weight: bold; }

em:lang(zh),
cite:lang(zh),
dfn:lang(zh),
var:lang(zh) {
  font-weight: bold;
  font-style: inherit;
}

header { margin-bottom: 1em; }
header h1 { margin-top: 2em; clear: both; }
header table { margin-left: 2em; margin-top: 2em; }

p.copyright { font-size: small; }
p.copyright small { font-size: small; }

ol.toc {
  list-style: none !important;
}

#toc ol {
  padding-left: 0;
}

#toc ol ol {
  padding-left: 1em;
}

#toc + section {
  margin-top: 4em;
}

section ol:not([type]) {
  list-style: lower-latin;
}

section ol ol:not([type]) {
  list-style: decimal;
}

section ol ol ol:not([type]) {
  list-style: lower-roman;
}

li h5,
li h6,
li p {
  margin: .5em 0;
}

li h5 + p,
li h6 + p {
  margin-top: -.5em;
}

section,
li {
  counter-reset: note;
}

/*
div.note::before {
  counter-increment: note;
  content: "注" counter(note) "）";
  position: absolute;
  left: 1em;
  top: 0;
}
*/

div.note span::after {
  counter-increment: note;
  content: counter(note) "）";
	}

div.note {
  padding-left: 4em;
  position: relative;
  font-size: .85em;
}

.note > p:first-child,
.issue > p:first-child,
.warning > p:first-child { margin-top: 0; }

#appendices table {
  border-collapse: collapse;
}

#appendices table th,
#appendices table td {
  border: thin solid grey;
  padding: .2em;
}

#appendices table tbody th {
  font-weight: inherit;
}

table.punctuation th:nth-child(1) { width: 5em; }
table.punctuation th:nth-child(2) { width: 2em; }
table.punctuation th:nth-child(3) { width: 3.5em; }
table.punctuation th:nth-child(5),
table.punctuation th:nth-child(6),
table.punctuation th:nth-child(7),
table.punctuation th:nth-child(8) { width: 4em; }

table.punctuation td:nth-of-type(1),
table.punctuation td:nth-of-type(2),
table.punctuation td:nth-of-type(4),
table.punctuation td:nth-of-type(5),
table.punctuation td:nth-of-type(6),
table.punctuation td:nth-of-type(7) { text-align: center; }

table.glossary th:nth-child(1) { width: 8em; }
table.glossary th:nth-child(2) { width: 5em; }
table.glossary th:nth-child(3) { width: 8em; }
table.glossary tbody th { text-align: left; }

h1 abbr,
h2 abbr,
h3 abbr,
h4 abbr,
h5 abbr,
h6 abbr,
a abbr {
  border: none;
}

a.internalDFN {
  color: inherit;
  border-bottom: 1px solid #99c;
  text-decoration: none;
}

a.externalDFN {
  color: inherit;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}

a.bibref {
  text-decoration: none;
}

cite .bibref {
  font-style: normal;
}

code {
  color: #C83500;
}

/* --- TOC --- */
.toc a, .tof a {
  text-decoration: none;
}

a .secno, a .figno {
  color: #000;
}

ul.tof, ol.tof {
  list-style: none outside none;
}

.caption {
  margin-top: 0.5em;
  font-style: italic;
}

/* --- TABLE --- */
table.simple {
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: 3px solid #005a9c;
}

.simple th {
  background: #005a9c;
  color: #fff;
  padding: 3px 5px;
  text-align: left;
}

.simple th[scope="row"] {
  background: inherit;
  color: inherit;
  border-top: 1px solid #ddd;
}

.simple td {
  padding: 3px 10px;
  border-top: 1px solid #ddd;
}

.simple tr:nth-child(even) {
  background: #f0f6ff;
}

/* --- DL --- */
section dd > p:first-child {
  margin-top: 0;
}

section dd > p:last-child {
  margin-bottom: 0;
}

section dd {
  margin-bottom: 1em;
}

section dl.attrs dd,
section dl.eldef dd {
  margin-bottom: 0;
}

@media speech {
  h1, h2, h3 { voice-stress: moderate; }
  .hide { speak: none; }
  p.copyright { voice-volume: x-soft; voice-rate: x-fast; }
  dt { pause-before: 63ms; }
}

@media print {
  .removeOnSave {
    display: none;
  }
}
